@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
.burgerNav {
  width: 100%;
  height: 100%;

  .burgerNavItems {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: $bgSecondColor;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;

    @include flex(column, center, center, nowrap);
    gap: 20px;
    transform: translate(0, -150px);
    transition: 0.7s;

    a {
      text-decoration: none;
      font-weight: 400;
      font-size: large;
      color: #eaeaea;

      &:hover {
        color: $primaryColor;
        font-weight: 600;
        font-size: larger;
        cursor: pointer;
      }
    }
  }

  .show {
    transform: translate(0, 0);
    height: 100vh;
  }

  .burgerNavBtn {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    img{
      height: 48px;
      width: 48px;
      color: #4e93e6;
    }

  }

      @media screen and (min-width: 500px) {
        display: none;
      }
  }


