@import "src/common/styles/sass/variables";
.skillsBlock{
    background-color:$bgSecondColor;
    min-height: 100vh;
    padding: 100px 0;
    .skillsContainer{
        flex-direction: column;
        justify-content: flex-start;
        .skills{
            margin-top: 20px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 5px;
            @media screen and (max-width: 725px){
                    flex-direction: column;
                    align-items: center;
            }
        }
    }
}