@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
.skillsBlock{
    //min-height: 100vh;
    padding: 100px 0;
    .skillsContainer{
        @include container();
        @include flex(column, flex-start, center, nowrap);
        .skills{
            margin-top: 20px;
            max-width: 1024px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 28px;
        }
    }
    @media screen and (max-width: 660px){
        display: none;
    }
}