.skillsBlock{
    background-color: #b1fce2;
    min-height: 100vh;
}
.skillsContainer{
    flex-direction: column;
    justify-content: flex-start;
}
.title{
    background-color: #eaeaea;
}
.skills{
    margin-top: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
}
@media screen and (max-width: 707px){
    .skills{
        flex-direction: column;
        align-items: center;
    }
}