@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
.slider {
  padding: 100px 0;
  position: relative;
  .rightArrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 3rem;
    color: $primaryColor;
    z-index: 10;
    cursor: pointer;
  }
  .leftArrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 3rem;
    color: $primaryColor;
    z-index: 10;
    cursor: pointer;
  }
  .imageContainer {
    @include container();
    @include flex(column, center, center, nowrap);
    .skills {
      @include flex(column, center, center, nowrap);
      //transform: translate(150px, 0px);
      //transition: 0.7s;
    }
  }
  @media screen and (min-width: 660px){
    display: none;
  }
}
