.title{
    margin: 0 0 30px;
    /*background-color: #eaeaea;*/
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #eaeaea;
    position: relative;
}
.title::before{
    position: absolute;
    content:'';
    background: #4e93e6;
    width: 95px;
    height: 2px;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, 50%);
}