@import "src/common/styles/sass/variables.scss";
@import "src/common/styles/sass/mixins.scss";

.footer{
    min-height: 300px;
    @include flex(row, center, stretch, nowrap);
    .footerContainer{
        @include container();
        @include flex(column, flex-start, center, nowrap);
        padding: 100px 0 20px;
        .footerBlock{
            @include flex(row, space-between, center, nowrap);
            width: 390px;
            margin-top: 30px;
            @media screen and (max-width: 505px) {
                width: 100%;
            }
            .footerItem{
                width: 50px;
                height: 50px;
                background-color: $primaryColor;
                border-radius: 50%;
                &:hover{
                    border: 1px solid $textColor;
                    transition: all 0.3s ease-in-out 0s;
                }
                @media screen and (max-width: 380px) {
                    width: 50px;
                    height: 50px;
                }
                a{
                    width: 100%;
                    height: 100%;
                    @include flex(row, center, center, nowrap);
                    img{
                        width: 60%;
                    }
                }
            }
        }
        .copyright{
            margin-top: 40px;
            @include text('Josefin sans', 14px, 1.8, 300);
            opacity: 0.6;
        }
    }
}



