@import './common/styles/sass/variables.scss';

:root {
  --bgColor:#1f1f20;
  --bgSecondColor:#252527;
  --textColor: #fff;
  --primaryColor: #4e93e6;

}

[data-theme="light"] {
  --bgColor:#ddd;
  --bgSecondColor: #e9ecef;
  --textColor: #1f1f20;
  --primaryColor: green;
}

.App {
  > div{
    color: var(--textColor);
    background-color: var(--bgSecondColor);
    &:nth-child(n){
      background-color: var(--bgSecondColor);
    }
    &:nth-child(2n){
      background-color: var(--bgColor);
    }
  }
  //scroll-behavior: smooth;
}


