@import "src/common/styles/sass/variables";
@import "src/common/styles/sass/mixins";
.nav{
  width: 340px;
  @include flex(row, space-between, stretch, nowrap);
  a{
    text-decoration: none;
    font-weight: 400;
    font-size: large;
    color: var(--textColor);

    &:hover{
      color: $primaryColor;
      font-weight: 600;
      font-size: larger;
      cursor:pointer;
    }
  }
  .active{
    color: $primaryColor;

  }

  @media screen and (max-width: 500px){
    display: none;
  }

}