@import "src/common/styles/sass/variables";
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
     a{
        text-decoration: none;
        font-weight: 400;
        font-size: large;
        color: #eaeaea;
        &:hover{
            color: $primaryColor;
            font-weight: 600;
            font-size: larger;
            cursor:pointer;
        }
    }
    @media screen and (max-width: 500px){
        display: none;
    }

}