.contacts{
    background-color: #e7a6a6;
   height: 50vh;
}
.contactsContainer{
    height: 80%;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title{
    margin-top: 2.5vh;
    background-color: #eaeaea;
}
.contactsForm{
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    gap: 20px;
}
